#photos
  = Snippet.find_by_slug!('gallery').to_html.html_safe

  %ul
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'

  .clear-fix
