#photos
  %h2 Gallery
  %h4 There is something for everyone

  %ul
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'
    %li= image_tag 'http://lorempixel.com/400/400/'

  .clear-fix
